
.book .book-body .page-wrapper .page-inner section.normal .highlight {
    border: 1px solid #999;
}

.book .book-body .page-wrapper .page-inner section.normal ol.loweralpha {
    list-style-type: lower-alpha;
}

.book .book-body .page-wrapper .page-inner section.normal ol.upperalpha {
    list-style-type: upper-alpha;
}

.book .book-body .page-wrapper .page-inner section.normal ol.lowerroman {
    list-style-type: lower-roman;
}

.book .book-body .page-wrapper .page-inner section.normal ol.upperroman {
    list-style-type: upper-roman;
}

.book .book-body .page-wrapper .page-inner section.normal ol.arabic {
    list-style-type: decimal;
}